@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  margin-top: 10%;
  background-color:skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Lista Artigos */

.divLista {
  background-color:rgb(13, 56, 150);
  padding: 5%;
  border-radius: 20px;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: skyblue;
  text-shadow: 2px 2px 2px rgb(21, 70, 90);
  margin-bottom: 4vh;
}
 
input { 
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 3% 8%;
  border: 0;
  border-radius: 6px;
}
 
ul{
  color:white;
  margin-top: 8%;
}

li{
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 7%;
}
 
button{
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 5%;
  padding: 3%;
  background-color: skyblue;
  text-decoration: none;
  box-shadow: 2px 2px 2px rgb(32, 41, 44);
  border-radius: 5px;
  border: 0;
  color:black;
}

/* Edição Lista */

.botaoSalvarCancelar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}